.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

mnist_original/

thesis/datasets_tests/
thesis/my_results/
thesis/runs/logs_root/
thesis/runs/logs_thesis/
logs/

thesis/plot/figures/

thesis/Latex/*.aux
thesis/Latex/*.aux.bak
thesis/Latex/*.bbl
thesis/Latex/*.bbl.bak
thesis/Latex/*.bcf
thesis/Latex/*.bcf.bak
thesis/Latex/*.blg
thesis/Latex/*.blg.bak
thesis/Latex/*.fdb_latexmk
thesis/Latex/*.fls
thesis/Latex/*.log
thesis/Latex/*.out
thesis/Latex/*.out.bak
thesis/Latex/*.pdf
thesis/Latex/*.run.xml
thesis/Latex/*.run.xml.bak
thesis/Latex/*.toc
thesis/Latex/*.toc.bak
thesis/Latex/*-SAVE-ERROR

.DS_Store
desktop.ini
